@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");
@font-face {
  font-family: "Humanst521BT";
  src: url("../../assets/fonts/humanist-521-light-bt.woff");
  src: url("../../assets/fonts/humanist-521-light-bt.woff") format("woff"), url("../../assets/fonts/humanist-521-light-bt.ttf") format("ttf");
  font-style: normal;
  font-weight: 300;
}
@font-face {
  font-family: "Humanst521BT";
  src: url("../../assets/fonts/humanst521-bt-roman.woff");
  src: url("../../assets/fonts/humanst521-bt-roman.woff") format("woff"), url("../../assets/fonts/humanst521-bt-roman.ttf") format("ttf");
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: "Humanst521BT";
  src: url("../../assets/fonts/humanist-521-bt-bold.woff");
  src: url("../../assets/fonts/humanist-521-bt-bold.woff") format("woff"), url("../../assets/fonts/humanist-521-bt-bold.otf") format("otf");
  font-style: normal;
  font-weight: 700;
}
@font-face {
  font-family: "Humanst521BT";
  src: url("../../assets/fonts/humanist-521-extra-bold-condensed-bt.woff");
  src: url("../../assets/fonts/humanist-521-extra-bold-condensed-bt.woff") format("woff"), url("../../assets/fonts/humanist-521-extra-bold-condensed-bt.ttf") format("ttf");
  font-style: normal;
  font-weight: 800;
}
:root {
  --blur-white-text: #fcf4de;
  --white-color: #ffffff;
  --lightContrast-blue-color: #a2e1f3;
  --blue-bg-color: #04adc8;
  --lightContrast-bg-color: #dfc0de;
  --pink-bg-color: #ce96cc;
  --lime-color: #ddd565;
  --highContrast-lime-color: #c4b300;
  --lightContrast-bg-color: #b2d987;
  --green-bg-color: #60ab40;
  --mandarin-bg-color: #ffa777;
  --orange-bg-color: #ffa33b;
  --lightContrast-orange-color: #f87d4b;
  --darkOrange-color: #c46031;
  --blackLight-text-color: #3b372a;
  --black-color: #000000;
}

/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
.header__container {
  display: flex;
  align-items: center;
}
.header__logo {
  margin-left: 40px;
}
.menu__list {
  display: flex;
}
.menu__list :not(:last-child) {
  margin-right: 15px;
}
.menu__link {
  font-family: Humanst521BT;
  color: var(--white-color);
  font-size: 37px;
  font-weight: 400;
  line-height: 118.9189189189%;
}

[class*=__container] {
  max-width: 1430px;
  margin: 0 auto;
  padding: 0 15px;
}

.wrapper {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

body {
  font-family: Roboto;
  font-size: 25px;
  height: 100%;
}

body._lock {
  overflow: hidden;
}

.popup {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5215686275);
  z-index: 9999;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  transition: all 0.8s ease 0s;
}

.popup__body {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px 10px;
}

.popup.open {
  opacity: 1;
  visibility: visible;
}

.popup.open .popup__content {
  transform: translate(0px, 0px);
  opacity: 1;
}

.popup.open .item-popup-content {
  transform: translate(0px, 80px);
  opacity: 1;
}

.popup__content {
  position: relative;
  z-index: 9999;
  padding: 62px 50px 55px 50px;
  background-color: white;
  color: #000;
  max-width: 569px;
  border-radius: 4px;
  transition: all 0.8s ease 0s;
  opacity: 0;
  transform: translate(0px, -100%);
}

.popup__close {
  position: absolute;
  top: 10px;
  right: 10px;
}

.home__swiper {
  width: 100%;
  height: 100vh;
  display: flex;
}
.home__swiper--wrapper {
  position: relative;
}
.home__swiper--slide:nth-child(1) {
  background: var(--blue-bg-color);
}
.home__swiper--slide:nth-child(2) {
  background: var(--pink-bg-color);
}
.home__swiper--slide:nth-child(3) {
  background: var(--green-bg-color);
}
.home__swiper--slide:nth-child(4) {
  background: var(--orange-bg-color);
}
.home--footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}
.home__main {
  position: relative;
  z-index: 10;
}
.home__main-content {
  display: flex;
  justify-content: space-between;
}
.home__main-content--ls {
  position: relative;
  flex: 1 1 40%;
  flex-basis: calc(100% - 623px);
  max-width: 464px;
}
.home__main-content--ls img:nth-child(1) {
  position: absolute;
  bottom: 50px;
  left: 50px;
  z-index: 5;
}
.home__main-content--ls img:nth-child(2) {
  position: absolute;
  top: 30px;
  left: 60%;
  transform: translate(-60%, 0);
  z-index: 4;
}
.home__main-content--ls img:nth-child(3) {
  position: absolute;
  bottom: 50px;
  right: -50px;
  z-index: 5;
}
.home__main-content--rs {
  display: flex;
  flex-direction: column;
  max-width: 623px;
}
.home__main--title {
  font-family: Humanst521BT;
  color: var(--blackLight-text-color);
  font-size: 50px;
  font-weight: 700;
  line-height: 120%;
  text-align: center;
  margin-bottom: 60px;
}
.home__main--text {
  font-family: Roboto;
  color: var(--blackLight-text-color);
  font-size: 25px;
  font-weight: 400;
  line-height: 116%;
  text-align: left;
  margin-bottom: 90px;
}
.home__main--btn {
  margin: 0 auto;
  font-family: Humanst521BT;
  color: var(--blur-white-text);
  font-size: 30px;
  font-weight: 400;
  line-height: 120%;
  text-align: center;
  padding: 16px 28px;
  box-sizing: border-box;
  border: none;
  background-color: var(--darkOrange-color);
  transition: background-color 0.4s;
  will-change: background-color;
  border-radius: 20px;
  max-width: 325px;
}
.home__main--btn:hover {
  background-color: #a24419;
}

.food__bg--grain-1 {
  max-height: 231px;
  width: 100%;
}