@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");
@font-face {
  font-family: "Humanst521BT";
  src: url("../../assets/fonts/humanist-521-light-bt.woff");
  src: url("../../assets/fonts/humanist-521-light-bt.woff") format("woff"), url("../../assets/fonts/humanist-521-light-bt.ttf") format("ttf");
  font-style: normal;
  font-weight: 300;
}
@font-face {
  font-family: "Humanst521BT";
  src: url("../../assets/fonts/humanst521-bt-roman.woff");
  src: url("../../assets/fonts/humanst521-bt-roman.woff") format("woff"), url("../../assets/fonts/humanst521-bt-roman.ttf") format("ttf");
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: "Humanst521BT";
  src: url("../../assets/fonts/humanist-521-bt-bold.woff");
  src: url("../../assets/fonts/humanist-521-bt-bold.woff") format("woff"), url("../../assets/fonts/humanist-521-bt-bold.otf") format("otf");
  font-style: normal;
  font-weight: 700;
}
@font-face {
  font-family: "Humanst521BT";
  src: url("../../assets/fonts/humanist-521-extra-bold-condensed-bt.woff");
  src: url("../../assets/fonts/humanist-521-extra-bold-condensed-bt.woff") format("woff"), url("../../assets/fonts/humanist-521-extra-bold-condensed-bt.ttf") format("ttf");
  font-style: normal;
  font-weight: 800;
}
:root {
  --blur-white-text: #fcf4de;
  --white-color: #ffffff;
  --milk-color: #fbf4dd;
  --lightContrast-blue-color: #a2e1f3;
  --blue-bg-color: #04adc8;
  --lightContrast-bg-color: #dfc0de;
  --pink-bg-color: #ce96cc;
  --lime-color: #ddd565;
  --highContrast-lime-color: #c4b300;
  --lightContrast-bg-color: #b2d987;
  --green-bg-color: #60ab40;
  --mandarin-bg-color: #ffa777;
  --orange-bg-color: #ffa33b;
  --lightContrast-orange-color: #f87d4b;
  --darkOrange-color: #c46031;
  --blackLight-text-color: #3b372a;
  --black-color: #000000;
}

/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
.header__container {
  display: flex;
  align-items: center;
}
.header__logo {
  margin-left: 40px;
}
.menu__icon {
  display: none;
}
.menu__list {
  display: flex;
}
.menu__list :not(:last-child) {
  margin-right: 20px;
}
.menu__link {
  position: relative;
  font-family: Humanst521BT;
  color: var(--white-color);
  font-size: 37px;
  font-weight: 400;
  line-height: 118.9189189189%;
  background: linear-gradient(currentColor 0 0) var(--pdu, 0) 100%/var(--tdu, 0) 3px no-repeat;
  transition: 0.3s, background-position 0s 0.3s;
}
.menu__link:hover {
  --tdu: 100%;
  --pdu: 100%;
}

.active-page {
  position: relative;
}
.active-page::after {
  content: "";
  position: absolute;
  background: var(--white-color);
  width: 100%;
  bottom: 0;
  left: 0;
  height: 3px;
}

@media (max-width: 1418.98px) {
  .header__logo img {
    width: 233px;
    height: 135px;
  }
}
@media (max-width: 1215.98px) {
  .menu__list :not(:last-child) {
    margin-right: 20px;
  }
  .menu__link {
    font-size: 30px;
  }
}
@media (max-width: 1082.98px) {
  .menu__list :not(:last-child) {
    margin-right: 15px;
  }
  .menu__link {
    font-size: 28px;
  }
}
@media (max-width: 1024.98px) {
  .header__container {
    justify-content: space-between;
    align-items: flex-start;
  }
  .header__logo {
    margin: 0;
  }
  .menu__list {
    display: none;
  }
  .header--burger__list {
    margin-top: 30px;
    position: relative;
    width: 44px;
    height: 24px;
    cursor: pointer;
  }
  .header--burger__list span:nth-child(1) {
    display: inline-block;
    height: 3px;
    background: white;
    transition: transform 0.4s;
    will-change: transform;
    position: absolute;
    width: 100%;
    top: 0;
  }
  .header--burger__list span:nth-child(2) {
    display: inline-block;
    transition: scale 0.4s;
    will-change: scale;
    height: 3px;
    background: white;
    transform: translate(0, -50%);
    position: absolute;
    width: 100%;
    top: 50%;
    left: 0;
  }
  .header--burger__list span:nth-child(3) {
    display: inline-block;
    height: 3px;
    background: white;
    transform: translate(0);
    transition: all 0.4s;
    will-change: transform;
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
  }
  .header--burger__list.active {
    display: flex;
    transition: transform 0.3s;
    justify-content: center;
  }
  .header--burger__list.active span:nth-child(1) {
    transform: rotate(45deg) translate(12px, 5px);
    width: 16px;
    background: var(--darkOrange-color);
  }
  .header--burger__list.active span:nth-child(2) {
    transform: scale(0);
  }
  .header--burger__list.active span:nth-child(3) {
    transform: rotate(-45deg) translate(20px, 7px);
    width: 16px;
    background: var(--darkOrange-color);
  }
  .menu__icon.active {
    transform: translate(0, 0);
  }
  .menu__icon {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 20px;
    position: absolute;
    width: 310px;
    height: 268px;
    border-radius: 15px;
    border: none;
    top: 77px;
    right: 0px;
    padding: 25px;
    transform: translate(0px, 0px);
    background-color: #f5e1c8;
    margin-right: 10px;
    transition: transform 0.3s ease 0s;
    transform: translate(120%, 0);
    z-index: 9999;
  }
  .menu__icon > a > span {
    font-family: Humanst521BT;
    color: #7d5c2a;
    font-size: 18px;
    font-weight: 700;
    line-height: 122.2222222222%;
    letter-spacing: 2px;
    text-align: left;
  }
  .menu__icon::after {
    content: "";
    background-image: url("../../assets/img/header/LogoMin.svg");
    background-position: right center;
    background-repeat: no-repeat;
    background-size: auto;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 20px;
    left: -20px;
    z-index: -1;
  }
}
.food__bg--grain {
  max-height: 231px;
  width: 100%;
}

[class*=__container] {
  max-width: 1430px;
  margin: 0 auto;
  padding: 0 15px;
}

[class*="&_container"] {
  max-width: 1050px;
  margin: 0 auto;
  padding: 0 15px;
}

.wrapper {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

body {
  font-family: Roboto;
  font-size: 25px;
  height: 100%;
}

body._lock {
  overflow: hidden;
}

.button {
  padding: 15px 63px;
  background: var(--darkOrange-color);
  border-radius: 15px;
  font-family: Roboto;
  color: var(--white-color);
  font-size: 20px;
  font-weight: 800;
  line-height: 120%;
  text-align: center;
  cursor: pointer;
  transition: background 0.3s;
  will-change: background;
}
.button--article {
  display: flex;
  margin: 0 auto;
  max-width: 275px;
  margin-top: 30px;
}
.button--article:hover {
  background: #eb7f4d;
}

.home__swiper {
  width: 100%;
  height: 100vh;
  display: flex;
}
.home__swiper--wrapper {
  position: relative;
}
.home__swiper--slide:nth-child(1) {
  background: var(--blue-bg-color);
}
.home__swiper--slide:nth-child(2) {
  background: var(--pink-bg-color);
}
.home__swiper--slide:nth-child(3) {
  background: var(--green-bg-color);
}
.home__swiper--slide:nth-child(4) {
  background: var(--orange-bg-color);
}
.home--footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}
.home__main {
  position: relative;
  z-index: 10;
}
.home__main-content {
  display: flex;
  justify-content: space-between;
}
.home__main-content--ls {
  position: relative;
  flex: 1 1 40%;
  flex-basis: calc(100% - 623px);
  max-width: 464px;
}
.home__main-content--ls img:nth-child(1) {
  position: absolute;
  bottom: 50px;
  left: 50px;
  z-index: 5;
}
.home__main-content--ls img:nth-child(2) {
  position: absolute;
  top: 30px;
  left: 60%;
  transform: translate(-60%, 0);
  z-index: 4;
}
.home__main-content--ls img:nth-child(3) {
  position: absolute;
  bottom: 50px;
  right: -50px;
  z-index: 5;
}
.home__main-content--rs {
  display: flex;
  flex-direction: column;
  max-width: 623px;
}
.home__main--title {
  font-family: Humanst521BT;
  color: var(--blackLight-text-color);
  font-size: 50px;
  font-weight: 700;
  line-height: 120%;
  text-align: center;
  margin-bottom: 60px;
}
.home__main--text {
  font-family: Roboto;
  color: var(--blackLight-text-color);
  font-size: 25px;
  font-weight: 400;
  line-height: 116%;
  text-align: left;
  margin-bottom: 90px;
}
.home__main--btn {
  margin: 0 auto;
  font-family: Humanst521BT;
  color: var(--blur-white-text);
  font-size: 30px;
  font-weight: 400;
  line-height: 120%;
  text-align: center;
  padding: 16px 28px;
  box-sizing: border-box;
  border: none;
  background-color: var(--darkOrange-color);
  transition: background-color 0.4s;
  will-change: background-color;
  border-radius: 20px;
  max-width: 325px;
}
.home__main_second-page {
  display: flex;
  justify-content: space-between;
}
.home__main_second-page--ls {
  position: relative;
  flex-basis: calc(100% - 741px);
}
.home__main_second-page--ls img:nth-child(1) {
  position: absolute;
  width: 267px;
  top: 100px;
  left: 40px;
  z-index: 3;
}
.home__main_second-page--ls img:nth-child(2) {
  position: absolute;
  width: 198px;
  bottom: 45px;
  left: 140px;
  z-index: 5;
}
.home__main_second-page--ls img:nth-child(3) {
  position: absolute;
  width: 210px;
  top: 230px;
  left: 270px;
  z-index: 4;
}
.home__main_second-page--rs {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-shrink: 1;
  flex-basis: 741px;
  margin-top: -50px;
}
.home__main_second-page--rs h2 {
  color: var(--white-color);
  margin-bottom: 35px;
  letter-spacing: 3px;
  line-height: 0.9;
}
.home__main--list {
  display: grid;
  width: 100%;
  grid-template-rows: repeat(2, 270px);
  grid-template-columns: repeat(3, 207px);
  gap: 60px;
}
.home__main--list-item span {
  display: block;
  justify-content: center;
  font-family: Humanst521BT;
  color: var(--white-color);
  font-size: 26px;
  font-weight: 700;
  line-height: 119.2307692308%;
  text-align: center;
  letter-spacing: 1px;
}
.home__main_thirdPage {
  display: flex;
  justify-content: space-between;
}
.home__main_thirdPage--ls {
  max-width: 554px;
  display: flex;
  align-items: center;
}
.home__main_thirdPage--ls p {
  font-family: Humanst521BT;
  color: var(--white-color);
  font-size: 32px;
  font-weight: 700;
  line-height: 118.75%;
  text-align: left;
  margin-left: 40px;
}
.home__main_thirdPage--rs {
  margin-top: -50px;
  display: flex;
  flex-direction: column;
  width: 732px;
}
.home__main_thirdPage--rs h2 {
  color: var(--white-color);
  margin-bottom: 68px;
}
.home__main_thirdPage--list {
  display: grid;
  grid-template-columns: repeat(3, 220px);
  grid-template-rows: repeat(2, 208px);
  gap: 35px;
}
.home__main_thirdPage--item {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 100%;
  gap: 20px;
}
.home__main_thirdPage--item img {
  max-width: 117px;
}
.home__main_thirdPage--item span {
  font-family: Humanst521BT;
  color: var(--white-color);
  font-size: 16px;
  font-weight: 700;
  line-height: 118.75%;
  text-align: center;
}
.home__main_fouthPage {
  display: flex;
  flex-direction: column;
}
.home__main_fouthPage--ls {
  max-width: 462px;
}
.home__main_fouthPage--ls h3 {
  font-family: Humanst521BT;
  color: var(--white-color);
  font-size: 40px;
  font-weight: 700;
  line-height: 95%;
  text-align: left;
  max-width: 400px;
  margin-bottom: 30px;
}
.home__main_fouthPage--rs {
  position: relative;
  width: 720px;
}
.home__main_fouthPage--rs h3 {
  font-family: Roboto;
  color: var(--blackLight-text-color);
  font-size: 40px;
  font-weight: 700;
  line-height: 117.5%;
  text-align: left;
  margin-bottom: 25px;
}

.list-item__bg {
  position: relative;
  width: 100%;
  height: 207px;
  background: var(--milk-color);
  border-radius: 25px;
  margin-bottom: 30px;
}
.list-item__bg--image-1 {
  position: absolute;
  top: -30px;
  left: 10px;
}
.list-item__bg--image-2 {
  position: absolute;
  top: 10px;
  left: 14px;
}
.list-item__bg--image-4 {
  position: absolute;
  top: -20px;
  left: -30px;
}
.list-item__bg--image-5 {
  position: absolute;
  top: -10px;
  left: -20px;
}
.list-item__bg--image-6 {
  position: absolute;
  top: -15px;
  left: 0px;
}

.home__main--btn:hover {
  background-color: #a24419;
}

.fouthPage__content-top {
  display: flex;
  justify-content: space-between;
}

.fouthPage__animal_type--chooseBlock {
  margin-top: 12px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin-left: 55px;
}
.fouthPage__animal_type--chooseBlock span {
  font-family: Roboto;
  color: var(--white-color);
  font-size: 14px;
  font-weight: 500;
  line-height: 114.2857142857%;
  text-align: center;
  padding: 4px 10px;
  background-color: var(--darkOrange-color);
  border-radius: 10px;
  border: none;
  cursor: pointer;
}
.fouthPage__animal--label {
  font-family: Humanst521BT;
  color: var(--white-color);
  font-size: 24px;
  font-weight: 700;
  line-height: 120.8333333333%;
  text-align: left;
}
.fouthPage__animal_weight {
  margin-top: 10px;
}
.fouthPage__animal_weight--polzunok {
  margin-left: 55px;
  margin-top: 20px;
}
.fouthPage__animal_weight--polzunok input {
  width: 234px;
  height: 2px;
  accent-color: #af421f;
  margin-bottom: 20px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.fouthPage__animal_weight--polzunok input ::-webkit-slider-runnable-track {
  height: 2px;
}
.fouthPage__animal_ration {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 34px;
}
.fouthPage__animal_ration span {
  font-family: Roboto;
  color: var(--white-color);
  font-size: 20px;
  font-weight: 400;
  line-height: 115%;
  text-align: left;
  margin-left: 55px;
}
.fouthPage__animal--btn {
  box-sizing: content-box;
  padding: 17px 24px;
  border-radius: 15px;
  border: none;
  background: var(--darkOrange-color);
  font-family: Roboto;
  color: var(--white-color);
  font-size: 20px;
  font-weight: 800;
  line-height: 115%;
  transition: background 0.5s;
  will-change: background;
  cursor: pointer;
  text-align: center;
}

.fouthPage__recomendedRation {
  font-family: Roboto;
  color: var(--blackLight-text-color);
  font-size: 24px;
  font-weight: 250;
  line-height: 116.6666666667%;
  text-align: left;
  margin-bottom: 60px;
}
.fouthPage__recomendedRation--recomedationsText {
  position: absolute;
  bottom: 0;
  right: 0;
  font-family: Humanst521BT;
  color: var(--blackLight-text-color);
  font-size: 14px;
  font-weight: 400;
  line-height: 121.4285714286%;
  text-align: left;
  max-width: 260px;
}
.fouthPage__recomendedRation--recomedationsText span {
  font-weight: 800;
}
.fouthPage__footer {
  display: none;
}
.fouthPage__content-bottom {
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
}
.fouthPage__blocktext {
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-family: Roboto;
  color: var(--black-color);
  font-size: 15px;
  font-weight: 400;
  line-height: 133.3333333333%;
  text-align: left;
  max-width: 355px;
}
.fouthPage__blocktext a {
  font-family: Roboto;
  color: var(--black-color);
  font-size: 15px;
  font-weight: 400;
  line-height: 133.3333333333%;
  text-align: left;
  cursor: pointer;
}
.fouthPage__inputBlock {
  display: flex;
  align-items: center;
  max-height: 56px;
}
.fouthPage__inputBlock input {
  min-height: 56px;
  min-width: 280px;
  box-sizing: border-box;
  border: 1px solid rgb(175, 66, 31);
  border-radius: 14px 0px 0px 14px;
  background-color: transparent;
  font-family: Roboto;
  color: var(--black-color);
  font-size: 18px;
  font-weight: 500;
  line-height: 138.8888888889%;
  text-align: left;
  padding: 12px 25px 12px 35px;
}
.fouthPage__inputBlock button {
  max-height: 56px;
  border-radius: 0px 14px 14px 0px;
  background: var(--darkOrange-color);
  padding: 20px 35px;
  font-family: Roboto;
  color: var(--white-color);
  font-size: 18px;
  font-weight: 400;
  line-height: 116.6666666667%;
  text-align: center;
}

.home__input::-moz-placeholder {
  color: #af421f;
  font-weight: 700;
}

.home__input::placeholder {
  color: #af421f;
  font-weight: 700;
}

span.active-type {
  background-color: var(--green-bg-color);
}

.minBtn {
  display: none;
}

@media (max-width: 1188.98px) {
  .home__main-content {
    margin-top: 40px;
    gap: 40px;
    justify-content: space-evenly;
  }
  .home__main-content--ls {
    flex: 0 0 100%;
  }
  .home__main-content--rs {
    align-items: center;
    justify-content: center;
    max-width: 332px;
  }
  .home__main--title {
    font-family: Humanst521BT;
    color: var(--blackLight-text-color);
    font-size: 30px;
    font-weight: 700;
    line-height: 120%;
    text-align: center;
    max-width: 332px;
    margin-bottom: 26px;
  }
}
@media (max-width: 966.98px) {
  .home__main-content {
    margin-top: 40px;
    gap: 40px;
    justify-content: space-evenly;
  }
  .home__main-content--ls {
    max-width: 300px;
  }
  .home__main-content--ls img:nth-child(1) {
    position: absolute;
    bottom: 50px;
    left: -60px;
    z-index: 5;
  }
  .home__main-content--ls img:nth-child(3) {
    position: absolute;
    bottom: 50px;
    right: -60px;
    z-index: 5;
  }
  .home__main-content--rs {
    align-items: center;
    justify-content: center;
    max-width: 332px;
  }
  .home__main--title {
    font-family: Humanst521BT;
    color: var(--blackLight-text-color);
    font-size: 30px;
    font-weight: 700;
    line-height: 120%;
    text-align: center;
    max-width: 332px;
    margin-bottom: 26px;
  }
}
@media (max-width: 791.98px) {
  .home__main-content {
    margin-top: 40px;
    gap: 40px;
    flex-direction: column;
    align-items: center;
  }
  .home__main-content--ls {
    max-width: 300px;
    order: 2;
    position: relative;
  }
  .home__main-content--ls img:nth-child(1) {
    position: absolute;
    width: 66px;
    height: 108px;
    bottom: -130px;
    left: -140px;
    z-index: 5;
  }
  .home__main-content--ls img:nth-child(2) {
    position: absolute;
    width: 140px;
    height: 176px;
    top: -70px;
    left: -40px;
  }
  .home__main-content--ls img:nth-child(3) {
    position: absolute;
    width: 85px;
    height: 118px;
    bottom: -130px;
    right: -50px;
    z-index: 5;
  }
  .home__main-content--rs {
    align-items: center;
    justify-content: center;
    max-width: 332px;
    order: 1;
  }
  .home__main--title {
    font-family: Humanst521BT;
    color: var(--blackLight-text-color);
    font-size: 30px;
    font-weight: 700;
    line-height: 120%;
    text-align: left;
    max-width: 332px;
    margin-bottom: 26px;
  }
  .home__main--text {
    font-family: Roboto;
    color: var(--blackLight-text-color);
    font-size: 16px;
    font-weight: 400;
    line-height: 112.5%;
    text-align: left;
  }
  .home__main--btn {
    display: none;
  }
  .minBtn {
    display: flex;
    width: 170px;
    height: 41px;
    justify-content: center;
    align-items: center;
    font-family: Humanst521BT;
    color: #fcf4de;
    font-size: 15px;
    font-weight: 400;
    line-height: 126.6666666667%;
    margin-left: 30px;
    padding: 0;
    border-radius: 10px;
  }
}
@media (max-width: 1418.98px) {
  .home__main_second-page {
    margin-top: 40px;
    display: flex;
    gap: 10px;
    justify-content: baseline;
    align-items: center;
    flex-direction: column;
  }
  .home__main_second-page--ls {
    position: relative;
    margin-top: 100px;
    margin-left: 150px;
    width: 100%;
    height: 100%;
    order: 2;
  }
  .home__main_second-page--ls img:nth-child(1) {
    position: absolute;
    width: 103px;
    height: 145px;
    top: -100px;
    left: 0px;
    z-index: 3;
  }
  .home__main_second-page--ls img:nth-child(2) {
    position: absolute;
    width: 76px;
    height: 108px;
    bottom: -90px;
    left: 30px;
    z-index: 5;
  }
  .home__main_second-page--ls img:nth-child(3) {
    position: absolute;
    width: 81px;
    height: 114px;
    top: -40px;
    left: 70px;
    z-index: 4;
  }
  .home__main_second-page--rs {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-shrink: 1;
    flex-basis: 741px;
    margin-top: -50px;
    order: 1;
  }
  .home__main_second-page--rs h2 {
    color: var(--white-color);
    margin-bottom: 35px;
    letter-spacing: 3px;
    line-height: 0.9;
  }
  .home__main--list {
    display: grid;
    gap: 60px;
  }
  .home__main--list-item span {
    display: block;
    justify-content: center;
    font-family: Humanst521BT;
    color: var(--white-color);
    font-size: 26px;
    font-weight: 700;
    line-height: 119.2307692308%;
    text-align: center;
    letter-spacing: 1px;
  }
}
@media (max-width: 768.98px) {
  .main--title-min {
    margin-top: 40px;
    font-family: Humanst521BT;
    color: var(--white-color);
    font-size: 30px;
    font-weight: 700;
    line-height: 120%;
    text-align: left;
  }
  .home__main_second-page--rs {
    align-items: flex-start;
    flex-basis: 500px;
  }
  .home__main--list {
    gap: 20px;
    grid-template-columns: repeat(3, 107px);
    grid-template-rows: repeat(2, 107px);
    row-gap: 80px;
  }
  .list-item__bg {
    height: 107px;
  }
  .list-item__bg img {
    -o-object-fit: contain;
       object-fit: contain;
    height: 107px;
    width: 107px;
  }
  .home__main--list-item span {
    font-family: Humanst521BT;
    color: var(--white-color);
    font-size: 16px;
    font-weight: 700;
    line-height: 118.75%;
    text-align: center;
  }
  .list-item__bg--image-1 {
    top: 0;
  }
  .list-item__bg--image-2 {
    top: 0;
    left: 0;
  }
  .list-item__bg--image-3 {
    top: 0;
  }
  .list-item__bg--image-4 {
    top: 0;
    left: -7px;
  }
  .list-item__bg--image-5 {
    top: 0;
    left: -4px;
  }
  .list-item__bg--image-6 {
    top: 0;
  }
}
@media (max-width: 1195.98px) {
  .home__main_thirdPage {
    flex-direction: column;
    align-items: center;
    gap: 60px;
  }
  .main--title-min-third {
    margin: 0 auto;
    font-size: 40px;
  }
  .rs-third h2 {
    margin-bottom: 20px;
  }
}
@media (max-width: 738.98px) {
  .home__main_thirdPage {
    display: flex;
    align-items: start;
  }
  .home__main_thirdPage--ls p {
    font-family: Roboto;
    color: var(--white-color);
    font-size: 15px;
    font-weight: 400;
    line-height: 120%;
    text-align: left;
    max-width: 332px;
  }
  .main--title-min-third {
    margin: 0;
    margin-left: 40px;
    font-size: 40px;
  }
  .home__main_thirdPage--list {
    display: flex;
    flex-direction: column;
    margin-left: 40px;
    gap: 15px;
  }
  .home__main_thirdPage--item {
    display: flex;
    flex-direction: row;
  }
  .home__main_thirdPage--item img {
    width: 50px;
    height: 50px;
  }
}
@media (max-width: 536.98px) {
  .home__main_thirdPage {
    margin-top: 20px;
  }
  .home__main_thirdPage--ls p {
    margin-left: 0;
  }
  .main--title-min-third {
    margin-left: 0;
  }
  .home__main_thirdPage--list {
    margin-left: 0;
  }
  .home__main_thirdPage--item span {
    white-space: wrap;
    max-width: 260px;
    text-align: left;
  }
}
@media (max-width: 1024.98px) {
  .home__main_fouthPage {
    gap: 40px;
  }
  .fouthPage__content-top {
    gap: 10px;
  }
  .fouthPage__recomendedRation {
    margin-bottom: 10px;
  }
  .fouthPage__inputBlock input {
    min-width: 0;
    width: 100%;
  }
  .fouthPage__recomendedRation--recomedationsText {
    bottom: -40px;
  }
  .fouthPage__inputBlock button {
    white-space: nowrap;
  }
}
@media (max-width: 820.98px) {
  .fouthPage__blocktext {
    text-align: center;
  }
  .fouthPage__blocktext a {
    text-align: center;
  }
  .fouthPage__content-bottom {
    margin-top: 0;
    align-items: center;
    flex-direction: column;
    gap: 10px;
  }
  .home__main_fouthPage {
    gap: 60px;
  }
  .fouthPage__recomendedRation {
    color: rgb(59, 55, 42);
    font-family: Roboto;
    font-size: 20px;
    font-weight: 250;
    line-height: 1;
    text-align: left;
  }
}
@media (max-width: 678.98px) {
  .fouthPage__animal--btn {
    padding: 4px 10px;
    font-family: Humanst521BT;
    color: var(--blur-white-text);
    font-size: 16px;
    font-weight: 700;
    line-height: 100%;
    text-align: left;
  }
  .fouthPage__content-top {
    flex-direction: column;
    gap: 10px;
  }
  .home__main_fouthPage--ls {
    max-width: 100%;
  }
  .home__main_fouthPage--ls h3 {
    font-family: Roboto;
    color: var(--white-color);
    font-size: 26px;
    font-weight: 700;
    line-height: 100%;
    margin: 10px 0;
    text-align: left;
  }
  .fouthPage__animal_type--chooseBlock {
    margin-top: 3px;
    gap: 12px;
    margin-left: 45px;
  }
  .fouthPage__animal_weight--polzunok {
    margin-left: 50px;
    margin-top: 5px;
  }
  .fouthPage__animal_ration {
    gap: 10px;
    margin-bottom: 20px;
  }
  .fouthPage__recomendedRation--recomedationsText {
    display: none;
  }
  .home__main_fouthPage--rs {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  .home__main_fouthPage--rs img {
    display: none;
  }
  .home__main_fouthPage--rs h3 {
    font-size: 30px;
    font-weight: 700;
    line-height: 117.5%;
    text-align: left;
    margin-bottom: 5px;
  }
  .fouthPage__recomendedRation {
    font-size: 14px;
  }
  .home__main_fouthPage {
    gap: 0;
  }
  .fouthPage__blocktext {
    display: inline;
    height: 50px;
  }
  .fouthPage__inputBlock input {
    padding: 6px 12px 6px 20px;
    width: 60%;
  }
  .fouthPage__inputBlock button {
    width: 40%;
    min-height: 100%;
    padding-left: 4px;
    font-size: 14px;
    font-weight: 400;
  }
}
.about__swiper {
  width: 100%;
  height: 100vh;
  display: flex;
}
.about__swiper--wrapper {
  position: relative;
}
.about__swiper--slide:nth-child(1) {
  background: #ffcb77;
}
.about__swiper--slide:nth-child(2) {
  background: var(--blue-bg-color);
}

.about__main {
  display: flex;
  justify-content: space-between;
}
.about__main--ls {
  flex: 1 1 100%;
  max-width: 721px;
}
.about__main--ls-blocktext h2 {
  font-family: Humanst521BT;
  color: #902401;
  font-size: 64px;
  font-weight: 700;
  line-height: 120.3125%;
  text-align: left;
  margin-bottom: 20px;
}
.about__main--ls-blocktext p {
  font-family: Roboto;
  color: #b0421f;
  font-size: 28px;
  font-weight: 400;
  line-height: 125%;
  text-align: left;
}
.about__main--rs {
  flex: 0 0 500px;
  position: relative;
}
.about__main--rs img:nth-child(1) {
  position: absolute;
  bottom: 0px;
  left: 20px;
  z-index: 4;
}
.about__main--rs img:nth-child(2) {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 3;
}
.about__footer img {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  max-height: 133px;
}

.about__secondPage {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  height: 100%;
}
.about__secondPage--ls {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  gap: 58px;
  max-width: 720px;
}
.about__secondPage--ls h3 {
  text-transform: uppercase;
  font-family: Humanst521BT;
  color: var(--white-color);
  font-size: 40px;
  font-weight: 700;
  line-height: 120%;
  text-align: center;
}
.about__secondPage--rs {
  margin-top: 40px;
  max-width: 430px;
}

.custom__slider {
  overflow: hidden;
  max-width: 720px;
}
.custom__slider--wrapper {
  display: flex;
  gap: 45px;
  position: relative;
  left: 0;
}

.custom__block--item {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.custom__block--item img {
  width: 207px;
  height: 207px;
}
.custom__block--item hr {
  height: 1px;
  width: 117px;
  background-color: var(--white-color);
}

.name__ingridients {
  margin: 45px auto 6px auto;
  font-family: Roboto;
  color: var(--white-color);
  font-size: 21px;
  font-weight: 700;
  line-height: 119.0476190476%;
  text-align: center;
}

.ingridients__desc {
  margin-top: 35px;
  font-family: Roboto;
  color: var(--white-color);
  font-size: 18px;
  font-weight: 400;
  line-height: 116.6666666667%;
  text-align: center;
}

.arrow-left {
  position: absolute;
  top: 45%;
  left: -40px;
  transform: translate(0, -45%);
  cursor: pointer;
}

.arrow-right {
  position: absolute;
  top: 45%;
  right: -40px;
  transform: translate(0, -45%);
  cursor: pointer;
}

.food__swiper {
  width: 100%;
  height: 80%;
  box-sizing: border-box;
  border: 10px solid var(--white-color);
  border-radius: 50px;
  background: #d9d9d9;
}

.food__swiper-thumb {
  width: 100%;
  height: 130px;
  margin-left: auto;
  margin-right: auto;
}

.food__swiper-wrapper {
  max-height: 367px;
  display: flex;
  gap: 145px;
  padding-left: 70px;
}

.food__swiper-slide {
  max-width: 263px;
  max-height: 367px;
  display: flex;
  justify-content: center;
  align-items: center;
  -o-object-fit: contain;
     object-fit: contain;
}

.food__swiper-thumb {
  height: 130px;
  box-sizing: border-box;
}

.food__swiper-thumb .food__swiper-slide {
  width: 20%;
  height: 100%;
  opacity: 0.4;
}

.food__swiper-thumb .swiper-slide-thumb-active {
  opacity: 1;
}

.food__swiper-slide img {
  margin-top: 40px;
  display: block;
  width: 263px;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

@media (max-width: 1182.98px) {
  .about__main {
    margin-top: 50px;
  }
}
@media (max-width: 1022.98px) {
  .about__main {
    position: relative;
    margin-top: 150px;
  }
  .about__main--ls {
    flex-basis: 100%;
    max-width: 100%;
  }
  .about__main--rs {
    position: absolute;
    width: 220px;
    height: 200px;
    top: -220px;
    right: 0;
  }
  .about__main--rs img:nth-child(1) {
    width: 138px;
    height: 210px;
    bottom: -120px;
    left: -38px;
  }
  .about__main--rs img:nth-child(2) {
    width: 196px;
    height: 241px;
  }
}
@media (max-width: 635.98px) {
  .about__main--rs {
    position: absolute;
    width: 220px;
    height: 200px;
    top: -150px;
    right: -40px;
  }
  .about__main--rs img:nth-child(1) {
    width: 74px;
    height: 110px;
    bottom: -40px;
    left: 0px;
  }
  .about__main--rs img:nth-child(2) {
    width: 96px;
    height: 141px;
    top: 50px;
    left: 60px;
  }
  .about__main {
    margin-top: 40px;
  }
  .about__main--ls-blocktext h2 {
    font-size: 55px;
  }
}
@media (max-width: 491.98px) {
  .about__main--ls-blocktext p {
    font-size: 22px;
  }
}
@media (max-width: 1440.98px) {
  .about__secondPage--ls {
    margin-left: 40px;
  }
}
@media (max-width: 1280.98px) {
  .about__secondPage--ls {
    transform: scale(0.9);
    transform-origin: 0 0;
  }
  .about__secondPage--rs {
    transform: scale(0.9);
    transform-origin: 0 0;
  }
}
@media (max-width: 1170.98px) {
  .about__secondPage--ls {
    transform: scale(0.8);
    transform-origin: 0 0;
  }
  .about__secondPage--rs {
    transform: scale(0.8);
    transform-origin: 0 0;
  }
}
@media (max-width: 1128.98px) {
  .about__secondPage--ls {
    transform: scale(0.7);
    transform-origin: 0 0;
  }
  .about__secondPage--rs {
    transform: scale(0.7);
    transform-origin: 0 0;
    margin-left: -100px;
  }
}
@media (max-width: 994.98px) {
  .about__secondPage--ls {
    transform: scale(0.6);
    transform-origin: 0 0;
  }
  .about__secondPage--rs {
    transform: scale(0.6);
    transform-origin: 0 0;
    margin-left: -200px;
  }
}
@media (max-width: 850.98px) {
  .about__secondPage--ls {
    transform: scale(0.5);
    transform-origin: 0 0;
  }
  .about__secondPage--rs {
    transform: scale(0.5);
    transform-origin: 0 0;
    margin-left: -250px;
  }
}
@media (max-width: 758.98px) {
  .about__secondPage--ls {
    transform: scale(1);
    gap: 20px;
    order: 2;
    margin-left: 0;
    width: 100%;
    margin: 0 auto;
  }
  .about__secondPage--ls h3 {
    font-size: 32px;
  }
  .about__secondPage--rs {
    margin-left: 0;
    transform: scale(1);
    margin: 0 auto;
    margin-bottom: 20px;
    order: 1;
  }
  .about__secondPage {
    display: flex !important;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
  }
  .name__ingridients {
    margin-top: 10px;
  }
  .ingridients__desc {
    margin-top: 10px;
  }
  .custom__slider--wrapper {
    display: flex;
    gap: 20px;
    position: relative;
    left: 0;
  }
  .custom__slider {
    overflow: hidden;
    max-width: 680px;
  }
  .custom__block--item {
    min-width: 220px;
  }
  .custom__block--item img {
    width: 107px;
    height: 107px;
  }
  .food__swiper {
    width: 264px;
    border: 4px solid var(--white-color);
  }
  .food__swiper-wrapper {
    max-height: 264px;
    display: flex;
    gap: 0;
    padding-left: 0px;
  }
  .food__swiper-slide img {
    margin-top: 20px;
    display: block;
    width: 163px;
    height: 100%;
    -o-object-fit: contain;
    object-fit: contain;
  }
  .arrow-left {
    left: 0;
  }
  .arrow-right {
    right: 0;
  }
  .custom__slider {
    max-width: 100%;
  }
  .custom__block--item {
    min-width: 183px;
  }
}
@media (max-width: 628.98px) {
  .about__secondPage {
    margin-left: 20px;
  }
  .about__secondPage--ls {
    transform: scale(0.9);
    transform-origin: 0 0;
  }
  .about__secondPage--rs {
    transform: scale(1);
    transform-origin: 0 0;
  }
  .arrow-right {
    position: absolute;
    top: 45%;
    right: -30px;
    transform: translate(0, -45%);
    cursor: pointer;
  }
}
@media (max-width: 479.98px) {
  .about__secondPage--rs {
    transform: scale(0.8);
    transform-origin: 0 0;
  }
}
.footer__color,
.header__color {
  background: var(--mandarin-bg-color);
}

.footer__assortment {
  position: relative;
  width: 100%;
  bottom: 0;
  left: 0;
  height: 353px;
}
.footer__assortment img {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}

.main__assortment {
  height: 100%;
  background-image: url("../../assets/img/main/bg-image.svg");
  background-repeat: repeat;
  background-size: auto;
}
.main__assortment--title {
  margin: 50px 0 15px 0;
  display: flex;
  justify-content: center;
  font-family: Humanst521BT;
  color: var(--blackLight-text-color);
  font-size: 45px;
  font-weight: 700;
  line-height: 120%;
  text-transform: uppercase;
}
.main__assortment--wrapper {
  background: var(--white-color);
  width: 100%;
  height: 100%;
  border-radius: 15px;
  padding: 27px 48px 32px 47px;
  margin-bottom: 100px;
}

.assortment__grid {
  display: grid;
  grid-template-columns: repeat(3, 292px);
  justify-content: space-around;
  row-gap: 70px;
}
.assortment__grid--item {
  max-width: 243px;
  display: flex;
  flex-direction: column;
  gap: 25px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.grid--item_image {
  display: flex;
  justify-content: center;
  height: 221px !important;
  width: 100%;
  padding: 5px;
  background: inherit;
  transition: background 0.5s;
  will-change: background;
}
.grid--item_image img {
  -o-object-fit: contain;
     object-fit: contain;
}

.grid--item_image:hover {
  box-sizing: border-box;
  border: 1px solid #dfdfdf;
  border-radius: 15px;
  box-shadow: 0px 7px 7px 0px rgba(0, 0, 0, 0.251);
  background: #ffffff;
}

.grid--item_desc {
  max-width: 80%;
  font-family: Roboto;
  color: var(--blackLight-text-color);
  font-size: 18px;
  font-weight: 400;
  line-height: 116.6666666667%;
  text-align: center;
}

.button--assortment {
  display: flex;
  max-width: 275px;
  background-color: #c46031;
  padding: 18px 20px;
  border-radius: 15px;
  font-family: Roboto;
  color: var(--white-color);
  font-size: 20px;
  font-weight: 700;
  line-height: 100%;
  text-align: center;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  margin-top: 50px;
  cursor: pointer;
}

@media (max-width: 1010.98px) {
  .assortment__grid {
    display: flex;
    flex-wrap: wrap;
  }
  .main__assortment--title {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 28px;
  }
  .fouthPage__content-bottom {
    margin-top: 20px;
    align-items: center;
    flex-direction: column;
    gap: 10px;
  }
  .fouthPage__inputBlock {
    margin-top: 20px;
  }
}
@media (max-width: 586.98px) {
  .hidden-item {
    display: none;
  }
}
.main__article {
  height: 100%;
  padding: 40px 0 100px 0;
}
.main__article--wrapper {
  display: flex;
  flex-direction: column;
  gap: 36px;
  padding: 14px 47px 20px 42px;
  background: var(--white-color);
  width: 100%;
  border-radius: 15px;
}
.main__article--filterlist {
  display: flex;
  gap: 33px;
  flex-wrap: wrap;
}
.main__article--filteritem {
  padding: 2px 13px;
  box-sizing: border-box;
  border: 1px solid #ababab;
  border-radius: 8.97px;
  background: var(--white-color);
  cursor: pointer;
  font-family: Roboto;
  color: var(--blackLight-text-color);
  font-size: 17px;
  font-weight: 500;
  line-height: 123.5294117647%;
  text-align: center;
}
.main__article--bloglist {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 50px;
}
.main__article--blogitem {
  position: relative;
  height: 222px;
  border-radius: 15px;
  display: flex;
  gap: 20px;
  align-items: center;
}
.main__article--blogitem img {
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  border-radius: 15px;
}
.main__article--title {
  font-family: Roboto;
  color: var(--blackLight-text-color);
  font-size: 20px;
  font-weight: 400;
  line-height: 120%;
  text-align: left;
  max-width: 146px;
}
.main__article--desc {
  position: absolute;
  top: 10px;
  right: 10px;
  font-family: Roboto;
  color: var(--blackLight-text-color);
  font-size: 13px;
  font-weight: 400;
  line-height: 123.0769230769%;
  text-align: center;
}

.active-filter {
  box-sizing: border-box;
  border: 1px solid rgb(171, 171, 171);
  border-radius: 8.97px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  background: rgb(236, 181, 155);
}

.learn__content {
  background-color: var(--milk-color);
  padding: 30px 100px 30px 100px;
  border-radius: 15px;
}

.main__learn {
  padding-top: 20px;
  padding-bottom: 20px;
}
.main__learn--blogitem {
  max-width: 794px;
  height: 384px;
  margin: 0 auto;
  border-radius: 30px;
  display: flex;
  gap: 50px;
  align-items: center;
  margin-bottom: 35px;
}
.main__learn--blogitem img {
  position: relative;
  left: 0;
  top: 0;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.main__learn--title {
  font-family: Humanst521BT;
  color: var(--blackLight-text-color);
  font-size: 48px;
  font-weight: 400;
  line-height: 118.75%;
  text-align: left;
}

.return__btn {
  font-family: Roboto;
  color: var(--black-color);
  font-size: 15px;
  font-weight: 400;
  line-height: 120%;
  position: relative;
  text-align: left;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.return__btn::after {
  content: "";
  background-image: url("../../assets/icon/arrow-left.svg");
  background-repeat: no-repeat;
  background-size: auto;
  background-position: left center;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0%;
  left: 0;
  transform: translate(-25%, 0);
}

.blog__text-learn {
  font-family: Roboto;
  color: var(--blackLight-text-color);
  font-size: 24px;
  font-weight: 400;
  line-height: 116.6666666667%;
  text-align: left;
  max-width: 900px;
  margin: 0 auto;
}

@media (max-width: 1235.98px) {
  .main__article--blogitem {
    width: 100%;
  }
  .und-blogitem {
    display: none;
  }
}
@media (max-width: 456.98px) {
  .main__article--blogitem {
    height: 150px;
  }
}
@media (max-width: 1265.98px) {
  .main__learn--blogitem {
    margin-top: 20px;
  }
  .main__learn--blogitem {
    height: 300px;
  }
  .main__learn--title {
    font-size: 28px;
  }
}
@media (max-width: 705.98px) {
  .learn__content {
    padding: 30px 50px;
  }
  .main__learn--blogitem {
    height: 200px;
  }
  .main__learn--title {
    font-size: 22px;
  }
  .main__learn--blogitem {
    gap: 20px;
  }
  .blog__text-learn {
    width: 100%;
    text-align: justify;
  }
}
@media (max-width: 436.98px) {
  .main__learn--blogitem {
    height: 150px;
  }
  .main__learn--title {
    font-size: 16px;
  }
}
.whereBuy__wrapper {
  background: var(--orange-bg-color);
}

.footer__whereBuy {
  position: relative;
  height: 332px;
  width: 100%;
}
.footer__whereBuy img {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  bottom: 0;
}

.main__whereBuy--title {
  font-family: Humanst521BT;
  color: var(--black-color);
  font-size: 36px;
  font-weight: 700;
  line-height: 119.4444444444%;
  text-align: center;
}
.main__whereBuy--links {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 30px;
  max-width: 1045px;
  margin: 120px auto;
}
.main__whereBuy--itemLink {
  position: relative;
}
.main__whereBuy--itemLink img {
  width: 322px;
  height: 178px;
}
.main__whereBuy--itemLink span {
  position: absolute;
  bottom: 13px;
  left: 5px;
  z-index: 10;
  font-family: Humanst521BT;
  color: var(--white-color);
  font-size: 22px;
  font-weight: 700;
  line-height: 118.1818181818%;
  text-align: left;
}

.main__whereBuy--itemLink[name=WB] {
  position: relative;
}
.main__whereBuy--itemLink[name=WB]::after {
  content: "";
  background-image: url("../../assets/icon/wb.png");
  background-position: right top;
  background-size: auto;
  background-repeat: no-repeat;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 8px;
  right: 12px;
}

@media (max-width: 889.98px) {
  .main__whereBuy--title {
    margin-top: 40px;
  }
  .main__whereBuy--links {
    margin-top: 30px;
    justify-content: space-around;
  }
}
.contacts__wrapper {
  background: var(--green-bg-color);
}

.main__contacts {
  margin-top: 80px;
  display: flex;
  justify-content: space-between;
  gap: 140px;
}
.main__contacts--ls {
  max-width: 635px;
  text-align: left;
}
.main__contacts--rs {
  flex-basis: 423px;
  display: flex;
  flex-direction: column;
  gap: 13px;
  align-items: center;
  justify-content: center;
}

.contacts__blocktext--title {
  font-family: Humanst521BT;
  color: var(--blackLight-text-color);
  font-size: 36px;
  font-weight: 700;
  line-height: 119.4444444444%;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.contacts__blocktext--adress {
  font-family: Humanst521BT;
  color: var(--blackLight-text-color);
  font-size: 32px;
  font-weight: 400;
  line-height: 118.75%;
  font-style: normal;
  margin-bottom: 20px;
}
.contacts__blocktext--callback {
  font-family: Humanst521BT;
  color: var(--blackLight-text-color);
  font-size: 36px;
  font-weight: 700;
  line-height: 119.4444444444%;
  text-align: left;
  margin-bottom: 38px;
}
.contacts__blocktext a {
  font-family: Humanst521BT;
  color: var(--blackLight-text-color);
  font-size: 32px;
  font-weight: 400;
  line-height: 118.75%;
  text-align: left;
}

.contacts__form--title {
  font-family: Humanst521BT;
  color: var(--blackLight-text-color);
  font-size: 36px;
  font-weight: 700;
  line-height: 119.4444444444%;
  text-align: center;
  margin-bottom: 60px;
}
.contacts__form--input {
  max-width: 344px;
  background-color: inherit;
  width: 100%;
  padding: 11px 20px 9px 14px;
  border: 1px solid var(--blackLight-text-color);
  border-radius: 13px;
  font-family: Humanst521BT;
  color: var(--black-color);
  font-size: 20px;
  font-weight: 500;
  line-height: 100%;
}
.contacts__form--input::-moz-placeholder {
  font-family: Humanst521BT;
  color: var(--blackLight-text-color);
  font-size: 27px;
  font-weight: 400;
  line-height: 122.2222222222%;
  text-align: left;
}
.contacts__form--input::placeholder {
  font-family: Humanst521BT;
  color: var(--blackLight-text-color);
  font-size: 27px;
  font-weight: 400;
  line-height: 122.2222222222%;
  text-align: left;
}
.contacts__form--btn {
  max-width: 344px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #3b372a;
  font-family: Humanst521BT;
  color: var(--white-color);
  font-size: 16px;
  font-weight: 700;
  line-height: 125%;
  text-align: center;
  border-radius: 12px;
  border: none;
  padding: 13px 0;
  transition: background 0.3s;
  will-change: background;
}

.contacts__form--btn:hover {
  background: #56503e;
}

@media (max-width: 1068.98px) {
  .main__contacts {
    margin-top: 80px;
    display: flex;
    justify-content: space-between;
    gap: 0px;
  }
  .main__contacts--rs {
    min-width: 315px;
  }
}
@media (max-width: 724.98px) {
  .contacts__blocktext--adress {
    font-size: 22px;
  }
  .contacts__blocktext a {
    font-size: 22px;
  }
  .contacts__blocktext--callback,
  .contacts__blocktext--title {
    font-size: 26px;
  }
  .contacts__blocktext--callback {
    margin-bottom: 20px;
  }
  .main__contacts {
    flex-direction: column;
    gap: 20px;
    margin-top: 20px;
  }
  .main__contacts--rs {
    order: 1;
    align-items: start;
    flex-basis: 100%;
  }
  .main__contacts--ls {
    order: 2;
  }
  .contacts__form--title {
    margin-bottom: 10px;
    font-size: 22px;
  }
}
@media (max-width: 500.98px) {
  .contacts__blocktext--callback,
  .contacts__blocktext--title {
    font-size: 22px;
  }
  .contacts__blocktext--callback {
    margin-bottom: 5px;
  }
}
.product {
  position: relative;
}
.product__content {
  position: relative;
  display: flex;
  flex-direction: column;
  z-index: 20;
}
.product__wrapper {
  display: flex;
}
.product__wrapper--goBack {
  font-family: Roboto;
  color: var(--black-color);
  font-size: 15px;
  font-weight: 400;
  line-height: 120%;
  text-align: left;
  position: absolute;
  background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTguMDAzOTA2IiBoZWlnaHQ9IjEzLjMyMTg4NCIgdmlld0JveD0iMCAwIDE4LjAwMzkgMTMuMzIxOSIgZmlsbD0ibm9uZSIKCXhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgoKCTxkZWZzIC8+Cgk8cGF0aCBpZD0iQXJyb3cgNiIKCQlkPSJNMy40MSA3LjY2TDcuMzYgMTEuNjFDNy43NiAxMiA3Ljc2IDEyLjYyIDcuMzYgMTMuMDJDNi45NyAxMy40MiA2LjM0IDEzLjQyIDUuOTUgMTMuMDJMMC4yOSA3LjM2Qy0wLjEgNi45NyAtMC4xIDYuMzQgMC4yOSA1Ljk1TDUuOTUgMC4yOUM2LjM0IC0wLjEgNi45NyAtMC4xIDcuMzYgMC4yOUM3Ljc2IDAuNjkgNy43NiAxLjMxIDcuMzYgMS43MUwzLjQxIDUuNjZMMTggNS42NkwxOCA3LjY2TDMuNDEgNy42NloiCgkJZmlsbD0iIzAwMDAwMCIgZmlsbC1vcGFjaXR5PSIxLjAwMDAwMCIgZmlsbC1ydWxlPSJldmVub2RkIiAvPgo8L3N2Zz4=");
  background-size: auto;
  background-repeat: no-repeat;
  background-position: left center;
  padding-left: 30px;
  top: 30px;
  left: 120px;
}
.product__wrapper--slider {
  width: 40%;
  margin-top: 80px;
}
.product__wrapper--infoblock {
  width: 60%;
}

.infoblock--blocktext {
  display: flex;
  flex-direction: column;
  gap: 50px;
  padding: 80px 90px 23px 30px;
  margin-bottom: 45px;
}
.infoblock--blocktext h3 {
  font-family: Humanst521BT;
  color: var(--black-color);
  font-size: 40px;
  font-weight: 700;
  line-height: 120%;
  text-align: left;
  max-width: 560px;
  text-transform: uppercase;
}
.infoblock--blocktext p {
  font-family: Roboto;
  color: var(--black-color);
  font-size: 24px;
  font-weight: 250;
  line-height: 120.8333333333%;
  text-align: left;
  max-width: 730px;
}
.infoblock--value {
  display: flex;
  gap: 50px;
}
.infoblock--value span {
  font-family: Roboto;
  color: var(--black-color);
  font-size: 25px;
  font-weight: 500;
  line-height: 116%;
  text-align: left;
  box-sizing: border-box;
  border: 2px solid rgb(229, 222, 211);
  border-radius: 12.92px;
  padding: 3px 21px;
  cursor: pointer;
}

.preview-swiper {
  height: 92%;
  width: 360px;
  display: flex;
  padding-left: 12px;
}
.preview-slide {
  display: flex;
  justify-content: center;
  max-height: 350px;
  max-width: 360px;
}
.swiper-pagination-bullet {
  display: inline-block;
  width: var(--swiper-pagination-bullet-width, var(--swiper-pagination-bullet-size, 20px));
  height: var(--swiper-pagination-bullet-height, var(--swiper-pagination-bullet-size, 20px));
  background: var(--swiper-pagination-bullet-inactive-color, #fff);
  opacity: var(--swiper-pagination-bullet-inactive-opacity, 1);
  box-sizing: border-box;
  border: 1px solid #ffa777;
}

.swiper-pagination-bullet-active {
  background: var(--swiper-pagination-color, #ffa777);
}

.bg-RT {
  position: absolute;
  top: 14%;
  right: 0;
  z-index: -1;
}

.bg-LB {
  position: absolute;
  bottom: 0;
  left: -140px;
  z-index: -1;
}

.bg-CL {
  position: absolute;
  top: 36%;
  left: -70px;
  z-index: -1;
}

.bg-RB {
  position: absolute;
  bottom: 5%;
  right: 0;
  z-index: -1;
}

.advantages {
  margin-top: 130px;
  margin-bottom: 80px;
  position: relative;
}
.advantages h4 {
  text-transform: uppercase;
  font-family: Humanst521BT;
  color: var(--blackLight-text-color);
  font-size: 40px;
  font-weight: 700;
  line-height: 120%;
  text-align: left;
  margin-bottom: 36px;
}
.advantages__list {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(2, 1fr);
  justify-content: space-between;
  row-gap: 30px;
  -moz-column-gap: 50px;
       column-gap: 50px;
}
.advantages__list--item {
  display: flex;
  align-items: center;
  gap: 25px;
}
.advantages__list--item img {
  width: 64px;
}
.advantages__list--item span {
  font-family: Roboto;
  color: var(--blackLight-text-color);
  font-size: 20px;
  font-weight: 700;
  line-height: 115%;
  text-align: left;
}

.tab-content {
  width: 1210px;
}
.tab-content--gridList {
  margin-top: 50px;
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(2, 1fr);
  justify-content: space-between;
  gap: 10px;
}
.tab-content--gridItem {
  display: flex;
  align-items: center;
  gap: 20px;
}
.tab-content--gridItem img {
  width: 165px;
  height: 46px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50px;
}
.tab-content__info {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.tab-content__info p {
  font-family: Roboto;
  color: var(--black-color);
  font-size: 20px;
  font-weight: 400;
  line-height: 115%;
  text-align: left;
}
.tab-content__info span {
  font-family: Roboto;
  color: var(--blue-bg-color);
  font-size: 20px;
  font-weight: 400;
  line-height: 115%;
  text-align: left;
}

#content-1::after {
  content: "";
  background-image: url("../../assets/animation/stepsCC.png");
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center center;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 20%;
  left: 0;
  z-index: -1;
}

#content-3 {
  font-family: Roboto;
  color: var(--blackLight-text-color);
  font-size: 24px;
  font-weight: 400;
  line-height: 116.6666666667%;
  text-align: left;
  margin: 90px 0 120px 0;
}

.content-2__content {
  margin: 80px 0 90px 0;
  display: flex;
  justify-content: space-between;
  gap: 50px;
}
.content-2__content--ls {
  flex: 0 1 566px;
  width: 100%;
}
.content-2__content--ls h5 {
  text-transform: uppercase;
  font-family: Humanst521BT;
  color: var(--black-color);
  font-size: 32px;
  font-weight: 700;
  line-height: 118.75%;
  text-align: left;
  margin-bottom: 32px;
}
.content-2__content--ls span {
  font-family: Roboto;
  color: var(--black-color);
  font-size: 24px;
  font-weight: 700;
  line-height: 116.6666666667%;
  text-align: left;
}
.content-2__content--rs {
  margin-top: 68px;
  display: flex;
  flex-direction: column;
  min-width: 683px;
  gap: 25px;
}
.content-2__content--foodNormal {
  font-family: Roboto;
  color: var(--black-color);
  font-size: 24px;
  font-weight: 700;
  line-height: 116.6666666667%;
  text-align: left;
}
.content-2__content--text {
  font-family: Roboto;
  color: var(--blackLight-text-color);
  font-size: 25px;
  font-weight: 300;
  line-height: 116%;
  text-align: left;
}
.content-2__content--rationImage {
  min-width: 100%;
  max-height: 307px;
  -o-object-fit: fill;
     object-fit: fill;
}

.product--polzunok {
  margin-bottom: 18px;
  width: 234px;
  margin-left: 100px;
}
.product--polzunok input {
  border: 0.83px solid rgb(0, 0, 0);
  height: 2px;
  accent-color: #000000;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.tabs {
  display: flex;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: 0 auto;
}

.tabs label {
  order: 1;
  display: block;
  padding: 1rem 2rem;
  cursor: pointer;
  text-transform: uppercase;
  font-family: Humanst521BT;
  color: #f0f0f0;
  font-size: 35px;
  font-weight: 700;
  line-height: 120%;
  text-align: center;
  transition: background ease 0.2s;
}
.tabs label:not(:last-child) {
  margin-right: 3%;
}

.tabs .tab {
  order: 99;
  flex-grow: 1;
  width: 100%;
  display: none;
  background: #fff;
}

.tabs input[type=radio] {
  display: none;
}

.tabs input[type=radio]:checked + label {
  font-family: Humanst521BT;
  color: var(--blackLight-text-color);
  font-size: 35px;
  font-weight: 700;
  line-height: 120%;
  text-align: center;
  background: #fff;
  position: relative;
}
.tabs input[type=radio]:checked + label::after {
  content: "";
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  height: 2px;
  border: 1px solid rgb(248, 125, 75);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.tabs input[type=radio]:checked + label + .tab {
  display: block;
}

@media (max-width: 45em) {
  .tabs .tab,
  .tabs label {
    order: initial;
  }
  .tabs label {
    width: 100%;
    margin-right: 0;
    margin-top: 0.2rem;
  }
}
.hr1 {
  width: 100%;
  margin-bottom: 45px;
  background-color: unset;
  height: 1px;
}

.hr2 {
  width: 100%;
  margin-bottom: 60px;
  height: 1px;
}

.nutritionalValue {
  display: flex;
  align-items: flex-end;
  margin-bottom: 30px;
  justify-content: space-between;
}
.nutritionalValue--ls {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 23px;
}
.nutritionalValue--title {
  text-transform: uppercase;
  font-family: Humanst521BT;
  color: var(--blackLight-text-color);
  font-size: 40px;
  font-weight: 700;
  line-height: 120%;
  text-align: center;
}
.nutritionalValue--text {
  font-family: Roboto;
  color: var(--blackLight-text-color);
  font-size: 24px;
  font-weight: 250;
  line-height: 116.6666666667%;
  text-align: left;
}
.nutritionalValue--image {
  -o-object-fit: contain;
     object-fit: contain;
  max-width: 100%;
  max-height: 100%;
}

.whereBuy-product h4 {
  font-family: Humanst521BT;
  color: var(--blackLight-text-color);
  font-size: 40px;
  font-weight: 700;
  line-height: 120%;
  text-align: left;
}

.footer__product {
  position: relative;
  z-index: 9999;
}

.popup {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5215686275);
  z-index: 9999;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  transition: all 0.8s ease 0s;
}

.popup__body {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px 10px;
}

.popup.open {
  opacity: 1;
  visibility: visible;
}

.popup.open .popup__content {
  transform: translate(0px, 0px);
  opacity: 1;
}

.popup.open .item-popup-content {
  transform: translate(0px, 80px);
  opacity: 1;
}

.popup__content {
  position: relative;
  z-index: 9999;
  padding: 62px 50px 55px 50px;
  background-color: white;
  color: #000;
  max-width: 569px;
  border-radius: 4px;
  transition: all 0.8s ease 0s;
  opacity: 0;
  transform: translate(0px, -100%);
}

.popup__close {
  position: absolute;
  top: 10px;
  right: 10px;
}