@import "../components/mixins";

//=======================================================================

.main__article {
	height: 100%;
	padding: 40px 0 100px 0;
	&--wrapper {
		@include flexbox;
		flex-direction: column;
		gap: 36px;
		padding: 14px 47px 20px 42px;
		background: var(--white-color);
		width: 100%;
		border-radius: 15px;
	}
	&--filterlist {
		@include flexbox;
		gap: 33px;
		flex-wrap: wrap;
	}
	&--filteritem {
		padding: 2px 13px;
		box-sizing: border-box;
		border: 1px solid #ababab;
		border-radius: 8.97px;
		background: var(--white-color);
		cursor: pointer;
		@include textDefault($ff1, var(--blackLight-text-color), 17px, 500, 21px);
		text-align: center;
	}
	&--bloglist {
		width: 100%;
		@include flexbox;
		flex-wrap: wrap;
		justify-content: space-between;
		gap: 50px;
	}
	&--blogitem {
		position: relative;
		height: 222px;
		border-radius: 15px;
		@include flexbox;
		gap: 20px;
		align-items: center;
		img {
			height: 100%;
			object-fit: contain;
			border-radius: 15px;
		}
	}
	&--title {
		@include textDefault($ff1, var(--blackLight-text-color), 20px, 400, 24px);
		text-align: left;
		max-width: 146px;
	}
	&--desc {
		position: absolute;
		top: 10px;
		right: 10px;
		@include textDefault($ff1, var(--blackLight-text-color), 13px, 400, 16px);
		text-align: center;
	}
}

.active-filter {
	box-sizing: border-box;
	border: 1px solid rgb(171, 171, 171);
	border-radius: 8.97px;
	box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
	background: rgb(236, 181, 155);
}

.learn__content {
	background-color: var(--milk-color);
	padding: 30px 100px 30px 100px;
	border-radius: 15px;
}
.main__learn {
	padding-top: 20px;
	padding-bottom: 20px;
	&--blogitem {
		max-width: 794px;
		height: 384px;
		margin: 0 auto;
		border-radius: 30px;
		@include flexbox;
		gap: 50px;
		align-items: center;
		margin-bottom: 35px;
		img {
			position: relative;
			left: 0;
			top: 0;
			height: 100%;
			object-fit: contain;
		}
	}
	&--title {
		@include textDefault($ff2, var(--blackLight-text-color), 48px, 400, 57px);
		text-align: left;
	}
}
.return__btn {
	@include textDefault($ff1, var(--black-color), 15px, 400, 18px);
	position: relative;
	text-align: left;
	text-transform: uppercase;
	margin-bottom: 20px;
	&::after {
		content: "";
		background-image: url("../../assets/icon/arrow-left.svg");
		background-repeat: no-repeat;
		background-size: auto;
		background-position: left center;
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0%;
		left: 0;
		transform: translate(-25%, 0);
	}
}
.blog__text-learn {
	@include textDefault($ff1, var(--blackLight-text-color), 24px, 400, 28px);
	text-align: left;
	max-width: 900px;
	margin: 0 auto;
}
@media (max-width: 1235.98px) {
	.main__article--blogitem {
		width: 100%;
	}
	.und-blogitem {
		display: none;
	}
}
@media (max-width: 456.98px) {
	.main__article--blogitem {
		height: 150px;
	}
}
@media (max-width: 1265.98px) {
	.main__learn--blogitem {
		margin-top: 20px;
	}
	.main__learn--blogitem {
		height: 300px;
	}
	.main__learn--title {
		font-size: 28px;
	}
}
@media (max-width: 705.98px) {
	.learn__content {
		padding: 30px 50px;
	}
	.main__learn--blogitem {
		height: 200px;
	}
	.main__learn--title {
		font-size: 22px;
	}
	.main__learn--blogitem {
		gap: 20px;
	}
	.blog__text-learn {
		width: 100%;
		text-align: justify;
	}
}
@media (max-width: 436.98px) {
	.main__learn--blogitem {
		height: 150px;
	}
	.main__learn--title {
		font-size: 16px;
	}
}
