@import "../components/mixins";

//=======================================================================

.product {
	position: relative;
	&__content {
		position: relative;
		@include flexbox;
		flex-direction: column;
		z-index: 20;
	}
	&__wrapper {
		@include flexbox;
		&--goBack {
			@include textDefault($ff1, var(--black-color), 15px, 400, 18px);
			text-align: left;
			position: absolute;
			background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTguMDAzOTA2IiBoZWlnaHQ9IjEzLjMyMTg4NCIgdmlld0JveD0iMCAwIDE4LjAwMzkgMTMuMzIxOSIgZmlsbD0ibm9uZSIKCXhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgoKCTxkZWZzIC8+Cgk8cGF0aCBpZD0iQXJyb3cgNiIKCQlkPSJNMy40MSA3LjY2TDcuMzYgMTEuNjFDNy43NiAxMiA3Ljc2IDEyLjYyIDcuMzYgMTMuMDJDNi45NyAxMy40MiA2LjM0IDEzLjQyIDUuOTUgMTMuMDJMMC4yOSA3LjM2Qy0wLjEgNi45NyAtMC4xIDYuMzQgMC4yOSA1Ljk1TDUuOTUgMC4yOUM2LjM0IC0wLjEgNi45NyAtMC4xIDcuMzYgMC4yOUM3Ljc2IDAuNjkgNy43NiAxLjMxIDcuMzYgMS43MUwzLjQxIDUuNjZMMTggNS42NkwxOCA3LjY2TDMuNDEgNy42NloiCgkJZmlsbD0iIzAwMDAwMCIgZmlsbC1vcGFjaXR5PSIxLjAwMDAwMCIgZmlsbC1ydWxlPSJldmVub2RkIiAvPgo8L3N2Zz4=");
			background-size: auto;
			background-repeat: no-repeat;
			background-position: left center;
			padding-left: 30px;
			top: 30px;
			left: 120px;
		}
		&--slider {
			width: 40%;
			margin-top: 80px;
		}
		&--infoblock {
			width: 60%;
		}
	}
}
.infoblock {
	&--blocktext {
		@include flexbox;
		flex-direction: column;
		gap: 50px;
		padding: 80px 90px 23px 30px;
		margin-bottom: 45px;
		h3 {
			@include textDefault($ff2, var(--black-color), 40px, 700, 48px);
			text-align: left;
			max-width: 560px;
			text-transform: uppercase;
		}
		p {
			@include textDefault($ff1, var(--black-color), 24px, 250, 29px);
			text-align: left;
			max-width: 730px;
		}
	}
	&--value {
		@include flexbox;
		gap: 50px;
		span {
			@include textDefault($ff1, var(--black-color), 25px, 500, 29px);
			text-align: left;
			box-sizing: border-box;
			border: 2px solid rgb(229, 222, 211);
			border-radius: 12.92px;
			padding: 3px 21px;
			cursor: pointer;
		}
	}
}
.preview {
	&-swiper {
		height: 92%;
		width: 360px;
		display: flex;
		padding-left: 12px;
	}
	&-slide {
		display: flex;
		justify-content: center;
		max-height: 350px;
		max-width: 360px;
	}
}
.preview-slide.minImage {
	max-height: 300px;
}

.swiper-pagination-bullet {
	display: inline-block;
	width: var(--swiper-pagination-bullet-width, var(--swiper-pagination-bullet-size, 20px));
	height: var(--swiper-pagination-bullet-height, var(--swiper-pagination-bullet-size, 20px));
	background: var(--swiper-pagination-bullet-inactive-color, #fff);
	opacity: var(--swiper-pagination-bullet-inactive-opacity, 1);
	box-sizing: border-box;
	border: 1px solid #ffa777;
}
.swiper-pagination-bullet-active {
	background: var(--swiper-pagination-color, #ffa777);
}

//====================================BG===================================

.bg-RT {
	position: absolute;
	top: 14%;
	right: 0;
	z-index: -1;
}
.bg-LB {
	position: absolute;
	bottom: 0;
	left: -140px;
	z-index: -1;
}
.bg-CL {
	position: absolute;
	top: 36%;
	left: -70px;
	z-index: -1;
}
.bg-RB {
	position: absolute;
	bottom: 5%;
	right: 0;
	z-index: -1;
}
.valueProd.active {
	background-color: #ffa777;
}

//================================Advanteges==============================

.advantages {
	margin-top: 130px;
	margin-bottom: 80px;
	position: relative;
	h4 {
		text-transform: uppercase;
		@include textDefault($ff2, var(--blackLight-text-color), 40px, 700, 48px);
		text-align: left;
		margin-bottom: 36px;
	}
	&__list {
		display: grid;
		grid-template-rows: repeat(3, 1fr);
		grid-template-columns: repeat(2, 1fr);
		justify-content: space-between;
		row-gap: 30px;
		column-gap: 50px;
		&--item {
			@include flexbox;
			align-items: center;
			gap: 25px;
			img {
				width: 64px;
			}
			span {
				@include textDefault($ff1, var(--blackLight-text-color), 20px, 700, 23px);
				text-align: left;
			}
		}
	}
}

//=======================================================================

.tab-content {
	width: 1210px;
	&--gridList {
		margin-top: 50px;
		display: grid;
		grid-template-rows: repeat(2, 1fr);
		grid-template-columns: repeat(2, 1fr);
		justify-content: space-between;
		gap: 10px;
	}
	&--gridItem {
		@include flexbox;
		align-items: center;
		gap: 20px;
		img {
			width: 165px;
			height: 46px;
			object-fit: cover;
			border-radius: 50px;
		}
	}
	&__info {
		display: flex;
		flex-direction: column;
		gap: 5px;
		p {
			@include textDefault($ff1, var(--black-color), 20px, 400, 23px);

			text-align: left;
		}
		span {
			@include textDefault($ff1, var(--blue-bg-color), 20px, 400, 23px);
			text-align: left;
		}
	}
}
#content-1::after {
	content: "";
	background-image: url("../../assets/animation/stepsCC.png");
	background-repeat: no-repeat;
	background-size: auto;
	background-position: center center;
	position: absolute;
	width: 100%;
	height: 100%;
	top: 20%;
	left: 0;
	z-index: -1;
}
#content-3 {
	@include textDefault($ff1, var(--blackLight-text-color), 24px, 400, 28px);
	text-align: left;
	margin: 90px 0 120px 0;
}
.content-2__content {
	margin: 80px 0 90px 0;
	@include flexbox;
	justify-content: space-between;
	gap: 50px;
	&--ls {
		flex: 0 1 566px;
		width: 100%;
		h5 {
			text-transform: uppercase;
			@include textDefault($ff2, var(--black-color), 32px, 700, 38px);
			text-align: left;
			margin-bottom: 32px;
		}
		span {
			@include textDefault($ff1, var(--black-color), 24px, 700, 28px);
			text-align: left;
		}
	}
	&--rs {
		margin-top: 68px;
		@include flexbox;
		flex-direction: column;
		min-width: 683px;
		gap: 25px;
	}
	&--foodNormal {
		@include textDefault($ff1, var(--black-color), 24px, 700, 28px);
		text-align: left;
	}
	&--text {
		@include textDefault($ff1, var(--blackLight-text-color), 25px, 300, 29px);
		text-align: left;
	}
	&--rationImage {
		min-width: 100%;
		max-height: 307px;
		object-fit: fill;
	}
}
.product--polzunok {
	margin-bottom: 18px;
	width: 234px;
	margin-left: 100px;
	input {
		border: 0.83px solid rgb(0, 0, 0);
		height: 2px;
		accent-color: #000000;
		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;
	}
}

.tabs {
	display: flex;
	flex-wrap: wrap;
	max-width: 1200px;
	margin: 0 auto;
}
.tabs label {
	order: 1;
	display: block;
	padding: 1rem 2rem;
	cursor: pointer;
	text-transform: uppercase;
	@include textDefault($ff2, #f0f0f0, 35px, 700, 42px);
	text-align: center;
	transition: background ease 0.2s;
	&:not(:last-child) {
		margin-right: 3%;
	}
}
.tabs .tab {
	order: 99;
	flex-grow: 1;
	width: 100%;
	display: none;
	background: #fff;
}
.tabs input[type="radio"] {
	display: none;
}
.tabs input[type="radio"]:checked + label {
	@include textDefault($ff2, var(--blackLight-text-color), 35px, 700, 42px);
	text-align: center;
	background: #fff;
	position: relative;
	&::after {
		content: "";
		position: absolute;
		width: 100%;
		bottom: 0;
		left: 0;
		height: 2px;
		border: 1px solid rgb(248, 125, 75);
		box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
	}
}
.tabs input[type="radio"]:checked + label + .tab {
	display: block;
}

@media (max-width: 45em) {
	.tabs .tab,
	.tabs label {
		order: initial;
	}
	.tabs label {
		width: 100%;
		margin-right: 0;
		margin-top: 0.2rem;
	}
}

.hr1 {
	width: 100%;
	margin-bottom: 45px;
	background-color: unset;
	height: 1px;
}
.hr2 {
	width: 100%;
	margin-bottom: 60px;
	height: 1px;
}

//=======================================================================

.nutritionalValue {
	@include flexbox;
	align-items: flex-end;
	margin-bottom: 30px;
	justify-content: space-between;
	&--ls {
		@include flexbox;
		align-items: flex-start;
		flex-direction: column;
		gap: 23px;
	}
	&--title {
		text-transform: uppercase;
		@include textDefault($ff2, var(--blackLight-text-color), 40px, 700, 48px);
		text-align: center;
	}
	&--text {
		@include textDefault($ff1, var(--blackLight-text-color), 24px, 250, 28px);
		text-align: left;
	}
	&--image {
		object-fit: contain;
		max-width: 100%;
		max-height: 100%;
	}
}

.whereBuy-product {
	h4 {
		@include textDefault($ff2, var(--blackLight-text-color), 40px, 700, 48px);
		text-align: left;
	}
}
.footer__product {
	position: relative;
	z-index: 9999;
}
//=======================================================================
//=======================================================================
@media (max-width: 1130.98px) {
	.infoblock--blocktext {
		padding: 30px;
	}
	.infoblock--blocktext {
		gap: 20px;
	}
	.infoblock--blocktext h3 {
		font-size: 26px;
	}
	.infoblock--blocktext p {
		font-size: 20px;
	}
	.swiper-wrapper {
		height: 80%;
	}
	.product__wrapper--goBack {
		left: 20px;
	}
	.preview-swiper {
		width: 220px;
	}
}
@media (max-width: 691.98px) {
	.infoblock--blocktext {
		padding: 20px;
	}
	.infoblock--blocktext {
		gap: 20px;
	}
	.infoblock--blocktext h3 {
		font-size: 22px;
	}
	.infoblock--blocktext p {
		font-size: 18px;
	}
	.swiper-wrapper {
		height: 70%;
	}
}
@media (max-width: 600.98px) {
	.product__wrapper {
		display: flex;
		flex-direction: column;
	}
	.preview-swiper {
		height: 100%;
	}
	.product__wrapper--slider {
		width: 100%;
		height: 400px;
	}
	.swiper-horizontal > .swiper-pagination-bullets,
	.swiper-pagination-bullets.swiper-pagination-horizontal,
	.swiper-pagination-custom,
	.swiper-pagination-fraction {
		bottom: var(--swiper-pagination-bottom, 50px);
	}
	.product__wrapper--infoblock {
		width: 100%;
	}
	.infoblock--blocktext h3 {
		text-align: center;
	}
	.infoblock--value {
		justify-content: center;
	}
	.infoblock--blocktext p {
		text-align: justify;
	}
}
@media (max-width: 573.98px) {
	.advantages__list {
		display: flex;
		flex-wrap: wrap;
		width: 100%;
	}
}
@media (max-width: 714.98px) {
	.tab-content--gridList {
		display: flex;
		flex-wrap: wrap;
		margin-left: 20px;
	}
	#content-3 {
		margin: 40px 10px;
		text-align: center;
	}
	.nutritionalValue--title {
		font-size: 26px;
	}
	.nutritionalValue--text {
		font-size: 22px;
	}
	.nutritionalValue {
		margin-top: 20px;
	}
	.nutritionalValue--image {
		width: 120px;
		height: 120px;
	}
	.tabs label,
	.tabs input[type="radio"]:checked + label {
		font-size: 26px;
	}
}
@media (max-width: 954.98px) {
	.content-2__content--rationImage {
		width: 250px;
	}
}
@media (max-width: 720.98px) {
	.content-2__content {
		margin: 30px 0;
		gap: 10px;
	}
	.content-2__content--ls h5 {
		font-size: 26px;
		margin-left: 10px;
	}
	.content-2__content--rationImage {
		max-width: 250px;
		min-width: 0;
		margin-left: 40px;
	}
	.content-2__content--ls {
		flex: 0 1 200px;
	}
	.content-2__content--rs {
		margin-top: 20px;
		min-width: 0;
		max-width: 282px;
	}
	.content-2__content--text {
		font-size: 16px;
	}
}
@media (max-width: 621.98px) {
	.content-2__content {
		transform: scale(0.9);
		transform-origin: 0 0;
	}
}
@media (max-width: 528.98px) {
	.content-2__content {
		flex-direction: column;
		transform: scale(1);
		transform-origin: 0 0;
	}
	.content-2__content--rs {
		justify-content: center;
		max-width: 100%;
		margin-left: 20px;
	}
}
