[class*="__container"] {
	max-width: 1430px;
	margin: 0 auto;
	padding: 0 15px;
}

[class*="&_container"] {
	max-width: 1050px;
	margin: 0 auto;
	padding: 0 15px;
}

.wrapper {
	overflow: hidden;
	display: flex;
	flex-direction: column;
	min-height: 100%;
}

body {
	font-family: $ff1;
	font-size: 25px;
	height: 100%;
	width: 100vw;
}

body._lock {
	overflow: hidden;
}

.button {
	padding: 15px 63px;
	background: var(--darkOrange-color);
	border-radius: 15px;
	@include textDefault($ff1, var(--white-color), 20px, 800, 24px);
	text-align: center;
	cursor: pointer;
	transition: background 0.3s;
	will-change: background;
	&--article {
		@include flexbox;
		margin: 0 auto;
		max-width: 275px;
		margin-top: 30px;
		&:hover {
			background: #eb7f4d;
		}
	}
}
